html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  font-family:"Roboto", "Poppins", "Segoe UI" , "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.font-400 {
  font-weight: 400;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.white {
  color: #ffffff;
}

.thirdteenpx {
  font-size: 13px;
}