$category-color: #4d7eab;
$black-color: #000000;
$white-color: #ffffff;
$navbar-color: #095aab;
$navbar-hover-color: #0b498a;
$button-color: #127ce0;
$category-menu-color: #3b6286;
$side-category-color: #085cb1;
$menu-line-color:#9c9c9c;