<div class="home-container">
  <div class="highlight-articles-container">
    <div class="row large-screen-row align-items-stretch">
      <div
        class="col-2 col-lg-2 col-md-3 offset-2 offset-lg-2 offset-md-1 h-100 first-feature-col"
      >
        <ul class="feature-articles-list">
          @for(article of articles; track $index) { @if ($index < 4) {
          <li class="feature-articles-item">
            <p class="feature-articles-category">
              {{ article.categories[0].categoryName }}
            </p>
            <h5 class="feature-articles-title">
              {{ article.title }}
            </h5>
          </li>
          } }
        </ul>
      </div>
      <div class="col-4 col-lg-4 col-md-4 h-100 sec-feature-col">
        @for (article of articles; track $index) { @if ($index === 4) {
        <img
          class="feature-articles-middle__image"
          [src]="article.articleImages[0].imageUrl"
          alt="Image"
        />
        <p class="feature-articles-category">
          {{ article.categories[0].categoryName }}
        </p>
        <h4 class="feature-articles-title">
          {{ article.title }}
        </h4>
        } }
      </div>
      <div class="col-2 col-lg-2 col-md-3 h-100 third-feature-col">
        <ul class="feature-articles-list">
          @for(article of articles; track $index) { @if ($index > 4) {
          <li class="feature-articles-item">
            <h5 class="feature-articles-title">
              {{ article.title }}
            </h5>
            <div class="content-container">
              <img
                class="feature-articles-image"
                [src]="article.articleImages[0].imageUrl"
                alt="Image"
              />
              <p class="feature-articles-category">{{article.categories[0].categoryName}}</p>
            </div>
          </li>
          } }
        </ul>
      </div>
    </div>

    <div class="row small-screen-row">
      <div class="col-12">
        <ul class="feature-articles-list">
          <li class="feature-articles-item first-item">
            <img
              class="feature-articles__image"
              src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
              alt="Image"
            />
            <div class="feature-articles-info">
              <h5 class="feature-articles-title">
                Hà Nội triển khai một số nhiệm vụ tài chính - ngân sách trong
                điều kiện ảnh hưởng của dịch bệnh Covid-19
              </h5>
              <p class="feature-articles-category">Pháp luật</p>
            </div>
          </li>
          <li class="feature-articles-item">
            <div class="feature-articles-info">
              <p class="feature-articles-category">Pháp luật</p>
              <h5 class="feature-articles-title">
                Hà Nội triển khai một số nhiệm vụ tài chính - ngân sách trong
                điều kiện ảnh hưởng của dịch bệnh Covid-19
              </h5>
            </div>
            <img
              class="feature-articles__image"
              src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
              alt="Image"
            />
          </li>
          <li class="feature-articles-item">
            <div class="feature-articles-info">
              <p class="feature-articles-category">Pháp luật</p>
              <h5 class="feature-articles-title">
                Hà Nội triển khai một số nhiệm vụ tài chính - ngân sách trong
                điều kiện ảnh hưởng của dịch bệnh Covid-19
              </h5>
            </div>
            <img
              class="feature-articles__image"
              src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
              alt="Image"
            />
          </li>
          <li class="feature-articles-item">
            <div class="feature-articles-info">
              <p class="feature-articles-category">Pháp luật</p>
              <h5 class="feature-articles-title">
                Hà Nội triển khai một số nhiệm vụ tài chính - ngân sách trong
                điều kiện ảnh hưởng của dịch bệnh Covid-19
              </h5>
            </div>
            <img
              class="feature-articles__image"
              src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
              alt="Image"
            />
          </li>
          <li class="feature-articles-item">
            <div class="feature-articles-info">
              <p class="feature-articles-category">Pháp luật</p>
              <h5 class="feature-articles-title">
                Hà Nội triển khai một số nhiệm vụ tài chính - ngân sách trong
                điều kiện ảnh hưởng của dịch bệnh Covid-19
              </h5>
            </div>
            <img
              class="feature-articles__image"
              src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
              alt="Image"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="articles-list-container">
    <div class="col col-12 col-lg-6 col-md-6 offset-0 offset-lg-2 offset-md-2">
      <ul class="articles-list articles-list-large-screen flex">
        <li class="articles-item">
          <img
            src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
            alt=""
            class="articles-item__image"
          />
          <div class="articles-item-info">
            <h4 class="articles-item-title">
              Doanh nghiệp bất động sản ảnh hưởng ra sao bởi dịch Covid 19?
            </h4>
            <p class="articles-item-category">Kinh tế</p>
            <p class="articles-item-content">
              Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch Covid-19 Hà Nội triệu
              tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc liên quan
              đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm
            </p>
          </div>
        </li>
        <li class="articles-item">
          <img
            src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
            alt=""
            class="articles-item__image"
          />
          <div class="articles-item-info">
            <h4 class="articles-item-title">
              Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh
              chóng?
            </h4>
            <p class="articles-item-category">Kinh tế</p>
            <p class="articles-item-content">
              Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch Covid-19 Hà Nội triệu
              tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc liên quan
              đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm
            </p>
          </div>
        </li>
        <li class="articles-item">
          <img
            src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
            alt=""
            class="articles-item__image"
          />
          <div class="articles-item-info">
            <h4 class="articles-item-title">
              Giảm 50% phí trước bạ ô tô: Xe sang có giá lăn bánh giảm "khủng"
            </h4>
            <p class="articles-item-category">Kinh tế</p>
            <p class="articles-item-content">
              Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch Covid-19 Hà Nội triệu
              tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc liên quan
              đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm
            </p>
          </div>
        </li>
        <li class="articles-item">
          <img
            src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
            alt=""
            class="articles-item__image"
          />
          <div class="articles-item-info">
            <h4 class="articles-item-title">
              Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh
              chóng?
            </h4>
            <p class="articles-item-category">Kinh tế</p>
            <p class="articles-item-content">
              Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch Covid-19 Hà Nội triệu
              tập cuộc họp khẩn cấp trong đêm để thông tin về sự việc liên quan
              đến dịch Covid-19. Cuộc họp đã công bố xác nhận thêm
            </p>
          </div>
        </li>
      </ul>

      <ul class="articles-list articles-list-small-screen flex">
        <li class="articles-item">
          <h4 class="articles-item-title">
            Có 1 tỷ đồng nên đầu tư vào phân khúc BĐS nào để sinh lời nhanh
            chóng?
          </h4>
          <p class="articles-item-content">
            Đêm ngày 6/3, Ban chỉ đạo phòng chống dịch Covid-19 Hà Nội triệu tập
            cuộc họp khẩn cấp trong đêm để thông tin về sự việc liên quan đến
            dịch Covid-19. Cuộc họp đã công bố xác nhận thêm
          </p>
          <img
            src="https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-creative-hot-news-banner-png-image_4275281.jpg"
            alt=""
            class="articles-item__image"
          />
          <div class="articles-item-footer">
            <p class="articles-item-category">Kinh tế</p>
            <p class="articles-item-share">
              <i class="fa-brands fa-facebook-f"></i> Chia sẻ
            </p>
          </div>
        </li>
      </ul>

      <div class="button-container">
        <button class="button">
          Xem thêm <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
    </div>
  </div>
</div>
