<div class="header-container">
    <div class="row">
        <div class="col-3 col-lg-3 col-md-3 offset-2 offset-lg-2 offset-md-2 logo-container">
            <h2>LOGO HERE</h2>
        </div>
        <ul class="col-3 col-lg-3 col-md-3 offset-1 offset-lg-1 offset-md-1 flex recommend-tag-list">
            <li class="recommend-tag-item"><i class="fa-solid fa-bolt"></i></li>
            <li class="recommend-tag-item"><a href="">#Biểu tình lan ra tại Mỹ</a></li>
            <li class="recommend-tag-item"><a href="">#Nhân sự, Đại hội các Đảng cấp</a></li>
            <li class="recommend-tag-item"><a href="">#Dịch Covid19</a></li>
        </ul>
    </div>
</div>