<div class="footer-container">
    <div class="row">
        <div class="col col-2 col-lg-2 col-md-2 offset-2 offset-lg-2 offset-md-2 logo-container">
            <h2 class="logo">LOGO HERE</h2>
        </div>
        <div class="col col-lg-3 col-md-3 info-container">
            <h4 class="info-logo">Logo Here Newspaper</h4>  
            <p class="font-bold address-text thirdteenpx">Địa chỉ: <span class="font-400">85 Vũ Trọng Phụng, Thanh Xuân, Hà Nội</span></p>
            <p class="font-bold hotline-text thirdteenpx">Hotline: <span class="font-400">0912 345 678</span></p>
            <p class="font-bold email-text thirdteenpx">Email: <span class="font-400">abc&#64;gmail.com</span></p>
        </div>
         <div class="col col-lg-3 col-md-3 sign-container">
            <p class="font-bold thirdteenpx">Tổng biên tập: <span class="font-400">Nguyễn Văn A</span></p>
            <p class="font-bold thirdteenpx">Phó tổng biên tập: <span class="font-400">Trần Thị B</span></p>
            <p class="thirdteenpx">Chỉ được phát hành lại thông tin từ website này khi có sự đồng ý bằng văn bản của cơ quan chủ quản.</p>
        </div>
    </div>
</div>