<div class="footer-container">
    <div class="row flex">
        <div class="col col-8 col-lg-2 col-md-2 offset-0 offset-lg-2 offset-md-2 logo-container">
            <h2 class="logo">LOGO HERE</h2>
        </div>
        <div class="col col-lg-3 col-md-3 info-container">
            <h4 class="info-logo">Logo Here Newspaper</h4>  
            <p class="font-bold address-text thirdteenpx">Địa chỉ: <span class="font-400">85 Vũ Trọng Phụng, Thanh Xuân, Hà Nội</span></p>
            <p class="font-bold hotline-text thirdteenpx">Hotline: <span class="font-400">0912 345 678</span></p>
            <p class="font-bold email-text thirdteenpx">Email: <span class="font-400">abc&#64;gmail.com</span></p>
        </div>
         <div class="col col-lg-3 col-md-3 sign-container">
            <p class="font-bold thirdteenpx">Tổng biên tập: <span class="font-400">Nguyễn Văn A</span></p>
            <p class="font-bold thirdteenpx">Phó tổng biên tập: <span class="font-400">Trần Thị B</span></p>
            <p class="thirdteenpx">Chỉ được phát hành lại thông tin từ website này khi có sự đồng ý bằng văn bản của cơ quan chủ quản.</p>
        </div>

        <h3 class="small-screen-name">CƠ QUAN CỦA TRUNG ƯƠNG HỘI MARKETING VIỆT NAM</h3>
        <div class="small-info-container">
            <p class="font-bold address-text thirdteenpx">Trụ sở: <span class="font-400">Tầng 7, số 83 Giang Văn Minh, phường Đội Cấn, quận Ba Đình, TP.Hà Nội</span></p>
            <p class="font-bold hotline-text thirdteenpx">Hotline: <span class="font-400">0964.960.161</span></p>
            <p class="font-bold thirdteenpx">Tổng biên tập: <span class="font-400">TS Hoàng Xuân Lâm</span></p>
            <p class="font-bold thirdteenpx">Phó tổng biên tập: <span class="font-400">Nhữ Thúy Hương Quỳnh</span></p>
            <p class="thirdteenpx sign-text">Giấy phép hoạt động báo chí số 72/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 26/02/2020</p>
        </div>
    </div>
</div>