<div class="navbar-container">
    <div class="row">
        <div class="col col-lg-8 col-md-8 col-sm-8 offset-2 offset-lg-2 offset-md-2">
            <ul class="navbar-list flex">
                <li class="navbar-item">
                    <a class="navbar-item-link" href=""> <i class="fa-solid fa-house"></i> Trang chủ</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="">Sự kiện</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="">Tiếp thị</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="">Kinh tế</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="">Luật pháp</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="">Video</a>
                </li>
                <li class="navbar-item">
                    <i class="fa-solid fa-magnifying-glass white"></i>
                </li>
                <li class="navbar-item">
                    <i class="fa-solid fa-bars white"></i>
                </li>
            </ul>
        </div>
    </div>
</div>